.schedules-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.schedules-description {
  margin-bottom: 24px;
  display: flex;
  justify-content: end;
}

.schedule-card-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.status-select {
  width: 100%;
  height: 32px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 4px 11px;
}

.checkpoint-card {
  margin-bottom: 16px;
}

.checkpoint-list {
  max-height: 200px;
  overflow-y: auto;
}

.checkpoint-preview {
  margin: 0;
  padding-left: 20px;
  font-size: 14px;
}
