/* Base styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */

  --primary-color: #f5222d;
  --secondary-color: #001529;
}

.card {
  padding: 2em;
  justify-content: center;
}

.read-the-docs {
  color: #888;
}

.box:nth-child(3n + 1) {
  grid-column: 1;
}
.box:nth-child(3n + 2) {
  grid-column: 2;
}
.box:nth-child(3n + 3) {
  grid-column: 3;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

/* Ant Design overrides */
.ant-btn-primary {
  background-color: var(--primary-color);
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}
