/* Base styles */
:root {
  --primary-color: #f5222d;
  --secondary-color: #001529;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

/* Ant Design overrides */
.ant-btn-primary {
  background-color: var(--primary-color);
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}

